# Carga de datos

In [1]:
%config IPCompleter.greedy=True

In [29]:
import pandas as pd
import numpy as np
import os

In [37]:
mainpath = r"E:\MI PC - ESTEBAN C\Google Drive\ESTUDIOS\CURSOS DATA\UDEMY\MACHINE LEARNING - PYTHON\python-ml-course-master"
filename = r"\datasets\titanic\titanic3.csv"
fullpath = mainpath + filename
fullpath = os.path.join(fullpath)

In [5]:
data = pd.read_csv(r'E:\MI PC - ESTEBAN C\Google Drive\ESTUDIOS\CURSOS DATA\UDEMY\MACHINE LEARNING - PYTHON\python-ml-course-master\datasets\titanic\titanic3.csv')

### Posibles parámetros de la función pd.read_csv

In [ ]:
pd.read_csv(filepath=r'E:\MI PC - ESTEBAN C\Google Drive\ESTUDIOS\CURSOS DATA\UDEMY\MACHINE LEARNING - PYTHON\python-ml-course-master\datasets\titanic\titanic3.csv',
            sep = ",",
            dtype = None, #Se puede especificar mediante un diccionario el nombre y tipo de cada columna
            header = None, #Especifica en que fila se encuentra el encabezado
            names = None, #Especificar los nombres de las columnas
            skiprows = 12,
            index_col==None,
            skip_blank_lines = False,
            na_filter= False)

In [38]:
data = pd.read_csv(fullpath)

## Carga de datos a traves de la función open

In [40]:
data_open = open(fullpath, "r")

In [47]:
cols = data_open.readline().strip().split(",")
n_cols = len(cols)
cols

['1',
 '0',
 '"Allison',
 ' Miss. Helen Loraine"',
 'female',
 '2',
 '1',
 '2',
 '113781',
 '151.5500',
 'C22 C26',
 'S',
 '',
 '',
 '"Montreal',
 ' PQ / Chesterville',
 ' ON"']

In [53]:
counter = 0
main_dicc = {}
for col in cols:
    main_dicc[col] = []
main_dicc

{'1': [],
 '0': [],
 '"Allison': [],
 ' Miss. Helen Loraine"': [],
 'female': [],
 '2': [],
 '113781': [],
 '151.5500': [],
 'C22 C26': [],
 'S': [],
 '': [],
 '"Montreal': [],
 ' PQ / Chesterville': [],
 ' ON"': []}

In [66]:
for line in data_open:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dicc[cols[i]].append(values[i])
    counter = counter+ 1
print("El dataset tiene %d filas y %d columnas" % (counter, n_cols))

El dataset tiene 1301 filas y 17 columnas